body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.top-bar {
    background-color: #333;
    color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, red, black);
    -webkit-background-clip: text;
    background-clip: text;
}

.discord-button {
    background-color: #7289DA; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.discord-button:hover {
    background-color: #5b6eae;
}

.big-button {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.big-button:hover {
    background-color: black;
}

main {
    padding: 20px;
    text-align: center;
}
